
    <div class="dashboard-header">


        <div class="cycle-desc-back" (click)="goBack()">
          <img src="/assets/employee-icons/back.png" alt="">
          <h1>Back</h1>
        </div>
        <div class="header-title">
          <h1> Dashboard</h1>
        </div>
        <div class="header-right">
          <div class="notification">
            <img class="icon" src="/assets/admin/header/notification.png" alt="logo">
            <span class="badge">3</span>
          </div>
          <div class="profile-pic" (click)="viewStaff()">
            <img src="/assets/employee-icons/profilepic.png" alt="Profile" />
          </div>
        </div>
      </div>
