.dashboard-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;

    .cycle-desc-back{
      display: flex;
      align-items: center;
      gap: 20px;
      margin-left: 30px;
      img{
          height: max-content;
      }
      margin-top: -10px;
  }

    .header-title{
      height: 50px;
    
     h1{
        font-family: 'wallpoet';
        font-size: 40px;
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 10px;

      .notification {
        position: relative;
        margin-right: 10px;

        .icon {
          height: 39px;
          width: 39px;

          cursor: pointer;
        }

        .badge {
          background: rgb(119, 241, 160);
          color: white;
          border-radius: 50%;
          padding: 3px 7px;
          font-size: 12px;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }

      .notification-dropdown {
        position: absolute;
        top: 120px;
        right: 120px;
        background: rgb(7, 6, 6);
        border: 1px solid #f30c0c;
        width: 400px;
        padding: 20px;
        max-height: 600px;
        overflow-y: auto;
        z-index: 10;
        border-radius: 10px;
        color: rgb(245, 238, 238);
        font-size: 14px;

        .unread{
          margin-top: 20px;
          font-size: 18px;
          font-family: "strait";
      
          // box-shadow: rgba(199, 199, 207, 0.25) 0px 50px 100px -20px, rgba(252, 247, 247, 0.3) 0px 30px 60px -30px, rgba(231, 231, 231, 0.35) 0px -2px 6px 0px inset;
        }
      }

      .vertical-line {
        width: 2px;
        height: 25px;
        background: #ccc;
        margin: 0 10px;
      }

      .profile-pic {
        width: 63px;
        height: 63px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }

  @media (max-height: 800px) {
    .dashboard-header{
      padding: 5px 10px;
      .cycle-desc-back{
        img{
          height: 32px;
        }
        h1{
          font-size: 1.4rem;
        }
      }
      .header-title{
        h1{
          font-size: 1.6rem;
        }
      }

      .header-right{
        .notification {
          .icon {
            height: 30px;
            width: 30px;
          }
        }

        .notification-dropdown {
          top: 100px;
          right: 100px;
          width: 300px;
        }

        .vertical-line {
          height: 20px;
        }
        .profile-pic{
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }