
    <div class="navbar-container">
        <div class="navbar-logo">
            <img src="/assets/logo/logo.png" alt="logo">
            <h1>Cycles</h1>
        </div>

        <div class="navbar-location">
            <img src="/assets/employee-icons/location.png" alt="">
            <h1>Location: new York</h1>
        </div>
        
        <div class="navbar-search">
            <img src="/assets/employee-icons/search.png" alt="">
            <input type="text" name="search" id="search">
        </div>

        <div class="bill-button" (click)="goToBill()">
            <button> BILL</button>
        </div>
        <div class="navbar-profile" (click)="viewStaff()" >
            <img src="/assets/employee-icons/profilepic.png" alt="">
        </div>
    </div>

