.staff-container{
    padding: 10px;
    color: white;
    font-family: "strait";

    h2{
      font-size: 28px;
    }
    button{
      font-family: "Strait";
      font-size: 24px;
    }
    .staff-management {
        color: #ffffff;
        background: #121212;
        padding: 20px;
        border: 2px solid grey;
        border-radius: 20px;

        .staff-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
      
          .staff-actions {
            display: flex;
            gap: 10px;
      
            .add-staff-btn {
              background: #23f59a;
              border: none;
              padding: 8px 12px;
              border-radius: 8px;
              cursor: pointer;
            }
      
            .sort-staff {
              padding: 8px;
              border-radius: 8px;
            }
          }
        }
      
        .staff-toggle {
          display: flex;
          gap: 10px;
          margin: 20px 0;
      
          button {
            padding: 10px 20px;
            background: #333;
            color: #fff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
      
            &.active {
              // background: #23f59a;
              background-color: black;
              border: 2px solid red;
              color: white;
            }
          }
        }
      
        .staff-table-container {
          height: 73vh;
          overflow-y: auto;
      
          .staff-table {
            max-height: 72vh;
            width: 100%;
            border-collapse: collapse;
            th{
              color: white;
              font-family: 'wallpoet';
              background-color: red;
            }
            th,
            td {
              padding: 5px;
              text-align: left;
              border-bottom: 1px solid #333;
              height: 50px;
            }
      
            tr:nth-child(even) {
              background: #1e1e1e;
            }
      
            tr:nth-child(odd) {
              background: #252525;
            }
      
            button {
              background: none;
              border: none;
              cursor: pointer;
              margin: 0 5px;
            }
          }
        }
      }     
}

.confirmation-dialog{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'strait';
  

    .confirmation-dialog-content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      background-color: #121212;
      border-radius: 10px;
      color: white;

      h2{
        font-size: 28px;
        font-family: "strait";
      }

      .confirmation-buttons{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
      }

      button{
        font-family: "Strait";
        font-size: 24px;
        background-color: red;
        color: white;
        border-radius: 10px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
      }
    }
}

@media ( max-height:800px){
  .staff-container{
    padding: 10px;
    color: white;
    font-family: "strait";

    h2{
      font-size: 24px;
    }
    button{
      font-family: "Strait";
      font-size: 14px;
    }

    .staff-management{
      .staff-table-container{
        height: 380px;

        .staff-table{
         max-height: 380px;
         
          th,td{
            font-size: 12px;
          }
          td{
            height: 50%;
          }
        }
      }
    }
  }
}
