.admin-navbar {
    width: 200px;
    height: 96vh;

    background-color: #1A1818;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    // padding-bottom: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    top: 0;
    left: 0px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

   

    .company-logo{
      height: 14%;
      margin-top: 10px;
      display: flex;
      // justify-content: center;
      align-items: start;
      gap: 10px;
      img{
        width: 5vw;   
        height: auto;
        max-width: 60px;
      }
      h3{
        font-family: 'sarina';
        font-size: 22px;
      }
    }

    .nav-items{
      // width: 100%;
      height: 70%;
        .item{
          height: 7%;
          margin-top: 15px;
          // padding: 10px;
          padding: 0.4rem 0.8rem;
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 10px;
          width: 100%;         // ensures it fills the parent container
          max-width: 250px;  
          img{
            width: 3vw;   
            height: auto;
            max-width: 60px;
          }
          h3{
            font-family: 'strait';
            font-size: 1.2rem;
          }

          &:hover{
            cursor: pointer;
          }
        }

        .active{
          background-color: red;
        }
    }

    .logout{
      width: 120px;
      // height: 10%;
      height: 86px;
      // min-height: 40px;     
      border-radius: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #FD2C2C;
      font-size: 12px;
      &:hover{
        cursor: pointer;
      }
      img{
       
        width: 3vw;
        height: auto;
        max-width: 60px;
      }
      h2{
        font-family: 'wallpoet';
        color: black;
      }
    }
  }

  @media (max-height: 800px) {
    .admin-navbar{
      height: 93vh;

      .logout{
        height: 63px;
      }
    }
   
  }
  