<div class="all-cycle-container">

    <div class="cycle-desc-back" (click)="goBack()">
        <img src="/assets/employee-icons/back.png" alt="">
        <h1>Back</h1>
    </div>
    <div class="all-cycles">
       
        <div class="cycle-box" *ngFor="let cycle of cycles">
            <div (click)="viewCycleDesc(cycle)">
                <img [src]="cycle.imageBase64" alt="Cycle Image">
                <div class="name">
                    <h3>{{ cycle.name.toUpperCase() }}</h3>
                    <h4>{{cycle.brand.toUpperCase()}} </h4>
                </div>
            <h2> $ <span>{{ cycle.price }}</span></h2>
            </div>
        </div>
    </div>
</div>
